<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6aaa8d">  <td>18/07/04 15:19:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginLogout.TC_001_Login()[pri:1, instance:testbase.TC_LoginLogout@77f99a05]">TC_001_Login</td> 
  <td>main@1209669119</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>18/07/04 15:19:26</td>   <td>24462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginLogout.TC_002_logout()[pri:2, instance:testbase.TC_LoginLogout@77f99a05]">TC_002_logout</td> 
  <td>main@1209669119</td>   <td></td> </tr>
</table>
