<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99fe6a">  <td>18/09/05 11:53:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginLogout.TC1_Login()[pri:1, instance:testbase.TC_LoginLogout@11dee337]">TC1_Login</td> 
  <td>main@993420850</td>   <td></td> </tr>
<tr bgcolor="99fe6a">  <td>18/09/05 11:54:09</td>   <td>10112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginLogout.TC2_logout()[pri:2, instance:testbase.TC_LoginLogout@11dee337]">TC2_logout</td> 
  <td>main@993420850</td>   <td></td> </tr>
</table>
